.loginContainer {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  .loginButton {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, border 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #444;
    border-color: #555;
  }
  
  .icon {
    margin-right: 8px;
    font-size: 16px;
  }
  